language: android
sudo: required
dist: precise
jdk: oraclejdk8

env:
  global:
  - ANDROID_API_LEVEL=28
  - EMULATOR_API_LEVEL=21
  - ANDROID_BUILD_TOOLS_VERSION=28.0.3
  - ANDROID_ABI=armeabi-v7a
  - ANDROID_TAG=google_apis

android:
  components:
  - tools
  - platform-tools
  - build-tools-$ANDROID_BUILD_TOOLS_VERSION
  - android-$ANDROID_API_LEVEL
  - extra-android-support
  - extra-android-m2repository
  - extra-google-m2repository

install:
  - echo y | sdkmanager 'ndk-bundle'
  - echo y | sdkmanager 'cmake;3.6.4111459'
  - echo y | sdkmanager 'lldb;3.0'
  - yes | sdkmanager --licenses

before_script:
- export ANDROID_NDK_HOME=$ANDROID_HOME/ndk-bundle

script:
- ./gradlew clean build --stacktrace